@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-quicksand), sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}


@media only screen and (max-width: 749px) {
  .splide__list {
    display: grid !important;
    gap: 15px;
    grid-template-columns: 1fr 1fr;
    transform: translateX(0) !important;
  }

  .splide__slide{
    width: 100% !important;
  }

  .carousel-nav-buttons {
    display: none;
  }
}